{% extends 'JavaBlog/baseJavablog.html' %}
{% load static %}

{% block subtitle %}
    <h5> Blog - Invulformulier</h5>
{% endblock subtitle %}

{% block inhoud1 %}     

<table>
    <ul> Titel</ul>
    <ul>  <input type ="text" name="Titel" placeholder="Titel van blog-artikel"> </ul>
    <ul> Subtitel</ul>
    <ul>  <input type ="text" name="Subtitel" placeholder="Subtitel"></ul>
    <ul>Blog info</ul>
    <ul> <textarea name="bericht" placeholder="Uw blog informatie"  ></textarea></ul>

    
    <input id="button" type="submit" value="Verzend">

</table>
        
                            
{% endblock %}