<!DOCTYPE html>
{% load static %} 
<html lang="nl">
    <head>
        <title> Full Stack Developper: Eindopdracht</title>
        <meta charset = "utf-8">

        <!-- Style CSS     -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/basisweb.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/javascr.css' %}">
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet"/>

    
        <!-- MediaQuery . viewport  (browser weet nu op welke breedte het moet worden afgebeeld)-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/ajaxfunctie.js' %}"></script>
        <script src="{% static 'js/animatie.js' %}"></script>
        <script src="{% static 'js/datepicker-nl.js' %}"></script>

    </head>

    <body>

        <!-- 1e  deel -->
        <header>
            <div class="col-12" id="boven">  
                <h1>Muziekschool H&J</h1>

                {% block subtitle %}
                <h5> Blog</h5>
                {% endblock subtitle %}
             </div>
             <div class="row">
                <!-- <div class="col-4"></div>-->
                <div class="col-12 menu">  
                    <ul>
                        <li> <a href="/site/index.html"> Home     </a></li>
                        <li> <a href="/site/overons.html"> Over ons </a></li>
                        <li> <a href="/site/tarieven.html"> Tarieven </a></li>
                        <li> <a href="/site/contact.html"> Contact  </a></li>
                        <li> <a href="/blog/post_list.html"> Agenda </a></li>
                        <li> <a href="/JavaBlog/Javablog.html"> Blog </a></li>

                    </ul>
                </div>
                <!-- <div class="col-4"></div>-->
             </div> <!-- Einde row -->
        </header>


        <section>

            <section class="row"> <!--START ROW-->
                <!--Linkerdeel 20%-->
                <div class = "col-12">   
                    <div class = "LDeel">

                        <div class="opmaak">
                            <p> Kies een datum: </p>
                            <input type="text" id="datepicker"/> 
                        </div>
                        
                    
                        <h2 class = "opmaak"> Blog Overzichtpagina 3 blog artikelen </h2>
                            <!-- Pagina wordt niet meer via een knop opgehaald : <button id="btnLoad" class="opmaak">Haal pagina op</button>
                                maar direct bij het inladen -->   <!-- via Ajax.js-->
                            <button id="BtnAnimatie" class="opmaak"> Animatie</button> <!-- geactiveerd via animatie.js bestand-->
                            <button id="BtnBlogToevgn" class="opmaak"> Blog toevoegen</button>
                           
                            
                            <div id="divResult1">Hier komt de 1e blog</div>
                            <div id="divResult2">Hier komt de 2e blog</div>
                            <div id="divResult3">Hier komt de 3e blog</div>
                    
                   
                                            
                    </div>
                </div>

        </section>  

   


        <footer class="col-12">
            <p> @ Copyright 2021 Muziekschool H & J </p>
            <p> (Dit is een oefenopdracht, alle informatie 
                op deze website is fictief.) </p>    
        </footer>

        


    </body>
    </html>
        