{% extends 'JavaBlog/baseJavablog.html' %}
{% load static %}

{% block inhoud1 %}
    <section class="row"> <!--START ROW-->
        <!--Linkerdeel 20%-->
        <div class = "col-12">   
            <div class = "LDeel">

                <div class="opmaak">
                    <p> Kies een datum: </p>
                    <input type="text" id="datepicker"/> 
                </div>
            
                <h2 class = "opmaak"> Blog Overzichtpagina 3 blog artikelen </h2>
                    <!-- Pagina wordt niet meer via een knop opgehaald : <button id="btnLoad" class="opmaak">Haal pagina op</button>
                        maar direct bij het inladen -->   <!-- via Ajax.js-->
                    <button id="BtnAnimatie" class="opmaak"> Animatie</button> <!-- geactiveerd via animatie.js bestand-->
                    <button id="BtnBlogToevgn" class="opmaak"> Blog toevoegen</button>
                   
                    <div id="divResult1">Hier komt de 1e blog</div>
                    <div id="divResult2">Hier komt de 2e blog</div>
                    <div id="divResult3">Hier komt de 3e blog</div>
            </div>
        </div>
   
    </section>        
{% endblock inhoud1 %}